body{
  background-color: #888888;
  padding: 0px;
  margin: 0px;
  position: relative; 
}

.full{
  background-color: #888888;
}
#getInTouch{
  color: #888888;
}
.hand-icon{
  top: 97px;
}

#section1, #section2{
  padding-top:50px;
  height:500px;
  color: #fff;
}

#section3{
   height:800px;
}

#section1{
  background-color: #1E88E5;
}
#section2, #section3 {
    background-color: #EEEEEE;
}

.navbar{
  background-color: #722872;
  box-shadow: 10px 5px 5px grey;
}
#title{
  color: #EEEEEE;
}
#about, #portafolio, #contact{
  color: #AAAAAA;
}
#about span, #portafolio span, #contact span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#about span:after, #portafolio span:after, #contact span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#about:hover span, #portafolio:hover span, #contact:hover span{
  padding-right: 25px;
}

#about:hover span:after, #portafolio:hover span:after, #contact:hover span:after{
  opacity: 1;
  right: 0;
}

.myClass {
   background-color: #3e8e41;
}
.thick-green-border {
    border-color: #7778B8;;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }
.img-responsive, #submit{
    margin: 10px auto;
}

hr#projects { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr#projects:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
hr#skills {
   border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#message{
  height: 150px;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: #EEEEEE;
    }
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #00FF7F;
}